@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes alternateColorSize {
  0%, 100% {
    color: var(--foreground);
    transform: scale(1);
  }
  50% {
    color: gold;
    transform: scale(2);
  }
}

#changelife {
  display: inline-block;
  animation: alternateColorSize 1.5s infinite;
}

